@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@330;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #000000f3;
    --second-bg-color: #89aff5;
    --text-color: #fff;
    --main-color: rgb(89, 0, 173);
}

html{
    font-size: 62.5%;
    overflow: visible;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
   font-size: 2.5rem;
   color: var(--text-color);
   font-weight: 600;
   cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s;

}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.home{
  display: flex; 
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  align-items: center;
  flex-direction: column;
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8; /* Adjust opacity to make stars less intense if desired */
}
@keyframes moveStars {
    from { transform: translateY(100vh); } /* Start below the view */
    to { transform: translateY(-100vh); } /* Move above the view */
}

.home-img{
    right: 10%;
    position: absolute;
    bottom: 2.5%;
}
.home-img  img{
    width: 25vw;
    height: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    position: sticky;
    justify-content: start;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.scene{
    position: absolute;
    width: 200px;
    height: auto;
    left: 40%;
    top: 65%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.scene .rocket{
    position: relative;
    animation: launch 0.2s ease infinite;
}
@keyframes launch {
    0%,100%{
        transform: translateY(-2px);   
    }
    50%{
        transform: translateY(2px);
    }
}

.scene .rocket::before{
    content: '';
    position: absolute;
    bottom: -350px;
    left: 50%;
    transform: translateX(-60%);
    width: 10px;
    height: 350px;
    background-image: linear-gradient(#00d0ff, transparent);
}
.scene .rocket::after{
    content: '';
    position: absolute;
    bottom: -350px;
    left: 50%;
    transform: translateX(-60%);
    width: 10px;
    height: 350px;
    background-image: linear-gradient(#00d0ff, transparent);
    filter: blur(20px);
}

.home-content{
    z-index: 2;
    position: relative;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: rgb(111, 0, 190);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {
    font-size: 2rem;
    margin-top: 1.5rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn{
    display: inline-block;
    padding:  1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:  0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
 .about{
   position: relative;
   overflow: hidden;
   background: black;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
 .about-img img{
    width: 35vw;
 }

 .heading{
    text-align: center;
    font-size: 4.5rem;
 }
.about-content{
    position: relative;
}
 .about-content h2{
    text-align: left;
    line-height: 1.2;
 }
 .about-content h3{
    font-size: 2.6rem;
 }

 .about-content p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    overflow: hidden;
 }
 .projects {
    background-image: url('../images/coding.jpg');

    
    
 }

 .projects h2{
    margin-bottom: 5rem;
 }

 .projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
 }

 .projects-container .projects-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
 }
 .projects-container .projects-box:hover{
    border-color: var(--bg-color);
    transform:  scale(1.02);
 }

 .bx.bxl-java, .bx.bxs-calculator, .bx.bxl-html5, .bx.bxl-css3, .bx.bxl-javascript {
    font-size: 7rem;
    color: var(--main-color);
 }

 .projects-box h3{
    font-size: 2.6rem;
 }

 .projects-box p{
    font-size: 1.7rem;
    margin: 1rem 0 3rem;
 }
 .contact{
    position: relative;
    background: black;
    overflow: hidden;
    padding-bottom: 150px;
 }


 .contact h2{
    margin-bottom: 3rem;
 }
 .contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
 }

 .contact form .input-box{
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;

 }
 .contact form .input-box input,
 .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

 }
 .contact form .input-box input{
    width: 49%;

 }

 .contact form textarea{
    resize: none;
 }
 .contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
 }

 .wrap{
    transform-style: preserve-3d;
    perspective: 800px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
 }
 .tri{
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
 }
 
.footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    height: 1.2rem;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}
.footer .social-icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.footer .social-icons li{
    list-style: none;
}
.footer .social-icons li a{
    font-size: 3.5rem;
    color: #ffff;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

.footer .social-icons li a:hover{
    transform: translateY(-10px);
}

.footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;

}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding: .8rem;
    background: var(--main-color);
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem black;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
    float: right;
    align-items: end;

}

.waves .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(0, 12, 91) url('../images/wave.png');
    background-size: 1000px 100px;
}

#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

/*Breakpoints*/

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

 @media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .projects{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .scene .rocket::before, .scene .rocket::after {
        height: 250px; 
        bottom: -250px; 
    }
    .scene .rocket img {
        width: auto; 
        height: 80%; 
    }
 }

 @media (max-width: 778px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }
    .scene .rocket img {
        width: 3px;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 40vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
    .scene .rocket::before, .scene .rocket::after {
        height: 150px; 
        bottom: -150px;
    }
    .scene .rocket img {
        /*height: 60%;*/
        width: 10vw;
        margin-top: 4rem; 
    }

 }

 @media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
    .scene .rocket::before, .scene .rocket::after {
        height: 100px; 
        bottom: -100px;
    }
    .scene .rocket img {
        height: 50%; 
    }
 }
 @media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
   /* .scene .rocket::before, .scene .rocket::after {
        height: 75px; 
        bottom: -75px; 
    }*/
    .scene .rocket img {
        width: 90vw; 
    }
 }


